---
import Layout from '../layouts/Layout.astro';
import ChatComponent  from '../components/Chat.astro';
---

<Layout title="Katou AI Chat">
  <main class="min-h-screen flex items-center justify-center">
    <ChatComponent />
  </main>
</Layout>
