---
import Layout from '../layouts/Layout.astro';
import ChatComponent  from '../components/Chat.astro';
---

<Layout title="Katou AI Chat">
  <div class="flex items-start justify-center">
    <ChatComponent />
  </div>
</Layout>
