---
import ProfileSection from 'src/components/home/ProfileSection.astro';
import Layout from '../layouts/Layout.astro';
import ExperienceSection from 'src/components/home/ExperienceSection.astro';
import EducationSection from 'src/components/home/EducationSection.astro';
import SkillsSection from 'src/components/home/SkillsSection.astro';

---

<Layout title="Home - Portfolio">
  <div class="max-w-6xl mx-auto px-4 py-6 space-y-6">
    <ProfileSection />
    <ExperienceSection />
    <EducationSection />
    <SkillsSection />
  </div>
</Layout>
