---
import Layout from '../layouts/Layout.astro';
import ProfileSection from '../components/Home/ProfileSection.astro';
import ExperienceSection from '../components/Home/ExperienceSection.astro';
import EducationSection from '../components/Home/EducationSection.astro';
import SkillsSection from '../components/Home/SkillsSection.astro';
---

<Layout title="Home - Portfolio">
  <div class="max-w-6xl mx-auto px-4 py-12 space-y-16">
    <ProfileSection />

    <ExperienceSection />
    <EducationSection />
    <SkillsSection />
  </div>
</Layout>
