---
interface Props {
  options?: object;
}

const { options } = Astro.props;
---

<div data-scroll-container>
  <slot />
</div>

<script is:inline>
  import LocomotiveScroll from 'locomotive-scroll';

  document.addEventListener('astro:after-load', () => {
    const scroll = new LocomotiveScroll({
      el: document.querySelector('[data-scroll-container]'),
      smooth: true,
      smoothMobile: true,
      multiplier: 0.7,
      ...options,
    });
  });
</script>

<style>
  html.has-scroll-smooth {
    overflow: hidden;
  }

  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .has-scroll-smooth body {
    overflow: hidden;
  }

  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }

  [data-scroll] {
    position: relative;
  }
</style>
